<div class="card" id="cardEditTitle">
  <div class="card-header d-flex justify-content-between">
    <h3>{{ticket.title}}</h3>
    <p><i class="fa fa-user mr-2" aria-hidden="true"></i>{{ticket.createdBy}}</p>
  </div>
  <div class="card-body">
        
    <p class="card-text">{{ticket.description}}</p>
    <a href="/tickets/all" class="btn btn-primary"><small>Go back</small></a>
    <div class="float-right">
      <a href="/tickets/delete/{{ticket._id}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
    </div>
  </div>
</div>