.container {
    width: 80vw;
    margin-top: 20px;
    background: #fff !important;
}

.app-content {
    margin-top: 15vh;
}

footer {
    height: 8vh;
}

button {
    animation-name: example;
    animation-duration: 3s;
    position: relative !important;
}

@keyframes example {
    0% {
        left: 0px;
    }
    25% {
        left: 0px;
    }
    50% {
        left: 25px;
    }
    75% {
        left: 0px;
    }
    100% {
        left: 0px;
    }
}

.newTicket {
    margin-top: 100px;
}

.alert-success:hover {
    background: #00e676 !important;
}

.fa-times:hover {
    cursor: pointer;
    color: black;
    transform: scale(1.2);
}

.alert-success {
    background: #69f0ae !important;
}

#btnSaveTicket {
    animation-name: none !important;
}

#ticketsList,
#cardEditTitle {
    margin-top: 100px;
}

ul,
li {
    border: none !important;
}

#ticketID {
    background: #ff847c;
}